<h2><%= I18n.translate("devise.registrations.new.edit") %></h2>

<div class="container bottom-shared">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password, label: I18n.translate("devise.registrations.new.password"),
                  hint: I18n.translate("devise.registrations.new.hint1"),
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation, label: I18n.translate("devise.registrations.new.password_confirmation"),
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password, label: I18n.translate("devise.registrations.new.current_password"),
                  hint: I18n.translate("devise.registrations.new.hint2"),
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
      <label class="btnlink">
        <%= I18n.translate("devise.registrations.new.photo") %>
        <span style="display:none;">
          <%= f.input :photo, as: :file %>
        </span>
      </label><br><br>
      <%= f.input :newsletter, as: :boolean %>
    </div>

    <div class="form-actions">
      <%= f.submit I18n.translate("devise.registrations.new.submit"), class: "btnlink btn-green" %>
    </div>
  <% end %>

  <h2><%= I18n.translate("devise.registrations.new.cancel") %></h2>

  <p><%= link_to I18n.translate("devise.registrations.new.cancel"), registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btnlink" %></p>

  <%= link_to I18n.translate("devise.registrations.new.back"), :back, class: "btnlink" %>
</div>
