<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= link_to image_tag("https://res.cloudinary.com/do3nu0tns/image/upload/v1594413833/gbh2v1yc7fdouhpjy03i.jpg", class: "logo"), "#" %>
    <h1>Welcome to example.com, <%= @user.username %></h1>
    <%= link_to image_tag("https://res.cloudinary.com/do3nu0tns/image/upload/v1594413833/gbh2v1yc7fdouhpjy03i.jpg", class: "logo"), "#" %>

    <p>
      You have successfully signed up to example.com,
      your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>