<h1 class="showTitle"><%= @comment.title %></h1>
<div class="container">
  <%= I18n.translate("comment.new.content") %>: <%= @comment.content %><br>
  <%= I18n.translate("comment.new.notation") %><%= @comment.note %><br>
  <%= I18n.translate("comment.new.author") %><%= @comment.user.username %><br>
  <%= link_to I18n.translate("comment.new.return"), clothe_path(@comment.clothe), class: "btnlink" %>
</div>
