<h1 class="myTitle"><%= I18n.translate("articles.labels.title") %></h1>

<p class="myText"><%= I18n.translate("articles.labels.para1") %></p>
<p class="myText"><%= I18n.translate("articles.labels.para2") %></p>
<p class="myText"><%= I18n.translate("articles.labels.para3") %></p><br>

<p class="myText"><%= I18n.translate("articles.labels.para4") %></p>

<%= cl_image_tag("xogv37s9hnbuqsnpbcj8", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>

<p class="myText"><%= I18n.translate("articles.labels.para5") %></p><br>

<p class="myText"><%= I18n.translate("articles.labels.para6") %></p>

<ul class="myText">
    <li><%= I18n.translate("articles.labels.li1") %></li>
    <li><%= I18n.translate("articles.labels.li2") %></li>
    <li><%= I18n.translate("articles.labels.li3") %></li>
    <li><%= I18n.translate("articles.labels.li4") %></li>
    <li><%= I18n.translate("articles.labels.li5") %></li>
    <li><%= I18n.translate("articles.labels.li6") %></li>
    <li><%= I18n.translate("articles.labels.li7") %></li>
    <li><%= I18n.translate("articles.labels.li8") %></li>
    <li><%= I18n.translate("articles.labels.li9") %></li>
    <li><%= I18n.translate("articles.labels.li10") %></li>
    <li><%= I18n.translate("articles.labels.li11") %></li>
</ul><br>

<p class="myText"><%= I18n.translate("articles.labels.para7") %></p><br>

<ul class="myText">
    <li><%= I18n.translate("articles.labels.li20") %></li>
    <li><%= I18n.translate("articles.labels.li21") %></li>
    <li><strong><%= I18n.translate("articles.labels.li22") %></strong></li>
</ul>

<p class="myText"><%= I18n.translate("articles.labels.para8") %></p><br>

<p class="myText"><%= I18n.translate("articles.labels.para9") %></p>
