<h1 class="myTitle"><%= I18n.translate("articles.labels.title") %></h1>

<div class="container pb-5">
  <div class="centrage">
    <%= cl_image_tag("xggkwezo3plljwyrzvf2", alt: I18n.translate("articles.labels.img1") , id:"labelImage1") %><br><br>
  </div>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte1") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte2") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte3") %></p>
  <ul class="my-list-style">
    <li class="text-justify"><%= I18n.translate("articles.labels.liste1") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste2") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste3") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste4") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste5") %></li>
  </ul>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte4") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte5") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte6") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte7") %></p>
  <div class="centrage">
    <%= cl_image_tag("pme7t79jllunmq7jiycz", class: "mylogo", alt: I18n.translate("articles.labels.img2") , id: "labelImage2") %><br><br>
  </div>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte8") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte9") %></p>
  <ul class="my-list-style">
    <li class="text-justify"><%= I18n.translate("articles.labels.liste21") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste22") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste23") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste24") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste25") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste26") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste27") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste28") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste29") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste30") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste31") %></li>
  </ul>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte10") %></p>
  <ul class="my-list-style">
    <li class="text-justify"><%= I18n.translate("articles.labels.liste40") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste41") %></li>
    <li class="text-justify"><%= I18n.translate("articles.labels.liste42") %></li>
  </ul>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte11") %></p>
  <p class="text-justify"><strong><%= I18n.translate("articles.labels.strong1") %></strong></p>
  <div class="centrage">
    <%= cl_image_tag("wovdvgzmimcexmsgfbz9", class: "mylogo", alt: I18n.translate("articles.labels.img3") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre1") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte12") %><strong><%= I18n.translate("articles.labels.strong2") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte13") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte14") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte15") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte16") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte17") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte18") %></p>
  <div class="centrage">
    <%= cl_image_tag("elhnwjc1hpz4wlf92bnj", class: "mylogo", alt: I18n.translate("articles.labels.img4") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre2") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte19") %><strong><%= I18n.translate("articles.labels.strong3") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte20") %><strong><%= I18n.translate("articles.labels.strong4") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte21") %></p>
  <div class="centrage">
    <%= cl_image_tag("pme7t79jllunmq7jiycz", class: "mylogo", alt: I18n.translate("articles.labels.img5") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre3") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte22") %><strong><%= I18n.translate("articles.labels.strong5") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte23") %><strong><%= I18n.translate("articles.labels.strong6") %></strong></p>
  <div class="centrage">
    <%= cl_image_tag("nfoicea1byrgi9g7ligm", class: "mylogo", alt: I18n.translate("articles.labels.img6") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre4") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte24") %><strong><%= I18n.translate("articles.labels.strong7") %></strong><%= I18n.translate("articles.labels.texte25") %><strong><%= I18n.translate("articles.labels.strong8") %></strong><%= I18n.translate("articles.labels.texte26") %></p>
  <div class="centrage">
    <%= cl_image_tag("rxhxud2zabq1ym6klg0d", class: "mylogo", alt: I18n.translate("articles.labels.img7") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre5") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte27") %> <strong><%= I18n.translate("articles.labels.strong9") %></strong><%= I18n.translate("articles.labels.texte28") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte29") %><strong><%= I18n.translate("articles.labels.strong10") %></strong><%= I18n.translate("articles.labels.texte30") %><strong><%= I18n.translate("articles.labels.strong10bis") %></strong></strong><%= I18n.translate("articles.labels.texte30bis") %><strong><%= I18n.translate("articles.labels.strong11") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte31") %><strong><%= I18n.translate("articles.labels.strong12") %></strong><%= I18n.translate("articles.labels.texte32") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte33") %><strong><%= I18n.translate("articles.labels.strong13") %></strong><%= I18n.translate("articles.labels.texte34") %><strong><%= I18n.translate("articles.labels.strong14") %></strong><%= I18n.translate("articles.labels.texte35") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte36") %></p>
  <div class="centrage">
    <%= cl_image_tag("lrmrqgqlf7xgpvxr46pl", class: "mylogo", alt: I18n.translate("articles.labels.img8") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre6") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte37") %><strong><%= I18n.translate("articles.labels.strong15") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte38") %><strong><%= I18n.translate("articles.labels.strong16") %></strong><%= I18n.translate("articles.labels.texte38") %><strong><%= I18n.translate("articles.labels.strong17") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte40") %><strong><%= I18n.translate("articles.labels.strong18") %></strong><%= I18n.translate("articles.labels.texte41") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte42") %><strong><%= I18n.translate("articles.labels.strong19") %></strong><%= I18n.translate("articles.labels.texte43") %></p>
  <div class="centrage">
    <%= cl_image_tag("pmie6dpbhfu9z0lthc5o", class: "mylogo", alt: I18n.translate("articles.labels.img9") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre7") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte44") %><strong><%= I18n.translate("articles.labels.strong20") %></strong><%= I18n.translate("articles.labels.texte45") %><strong><%= I18n.translate("articles.labels.strong21") %></strong><%= I18n.translate("articles.labels.texte46") %><strong><%= I18n.translate("articles.labels.strong22") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte47") %></p>
  <div class="centrage">
    <%= cl_image_tag("pmxy2o9fi7dq2wdnlp0s", class: "mylogo", alt: I18n.translate("articles.labels.img10") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre8") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte48") %><strong><%= I18n.translate("articles.labels.strong23") %></strong><%= I18n.translate("articles.labels.texte49") %><strong><%= I18n.translate("articles.labels.strong24") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte50") %><strong><%= I18n.translate("articles.labels.strong25") %></strong><%= I18n.translate("articles.labels.texte51") %></p>
  <div class="centrage">
    <%= cl_image_tag("gejovurqdlabcqfmckqz", class: "mylogo", alt: I18n.translate("articles.labels.img11") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre9") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte52") %><strong><%= I18n.translate("articles.labels.strong26") %></strong><%= I18n.translate("articles.labels.texte53") %><strong><%= I18n.translate("articles.labels.strong27") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte54") %><strong><%= I18n.translate("articles.labels.strong28") %></strong><%= I18n.translate("articles.labels.texte55") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte56") %><strong><%= I18n.translate("articles.labels.strong29") %></strong><%= I18n.translate("articles.labels.texte57") %><strong><%= I18n.translate("articles.labels.strong30") %></strong></p>
  <div class="centrage">
    <%= cl_image_tag("kuwvh0pcv5upkqdjjl4s", class: "mylogo", alt: I18n.translate("articles.labels.img12") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre10") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte58") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte59") %><strong><%= I18n.translate("articles.labels.strong31") %></strong><%= I18n.translate("articles.labels.texte60") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte61") %><strong><%= I18n.translate("articles.labels.strong32") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte62") %><strong><%= I18n.translate("articles.labels.strong33") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte63") %><strong><%= I18n.translate("articles.labels.strong34") %></strong><%= I18n.translate("articles.labels.texte64") %></p>
  <div class="centrage">
    <%= cl_image_tag("oxc20motwjbkqbjxmxrf", class: "mylogo", alt: I18n.translate("articles.labels.img13") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre11") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte65") %><strong><%= I18n.translate("articles.labels.strong35") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte66") %><strong><%= I18n.translate("articles.labels.strong36") %></strong><%= I18n.translate("articles.labels.texte67") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte68") %><strong><%= I18n.translate("articles.labels.strong37") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte69") %></p>
  <div class="centrage">
    <%= cl_image_tag("e8absscyt0nss3mymagj", class: "mylogo", alt: I18n.translate("articles.labels.img14") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre12") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte70") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte71") %><strong><%= I18n.translate("articles.labels.strong38") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte72") %><strong><%= I18n.translate("articles.labels.strong39") %></strong></p>
  <div class="centrage">
    <%= cl_image_tag("hqwunxwx5gows74arjbo", class: "mylogo", alt: I18n.translate("articles.labels.img15") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre13") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte73") %><strong><%= I18n.translate("articles.labels.strong40bis") %></strong><%= I18n.translate("articles.labels.texte73bis") %><strong><%= I18n.translate("articles.labels.strong40") %></strong></p>
  <div class="centrage">
    <%= cl_image_tag("intqjddvanipof6y5pf8", class: "mylogo", alt: I18n.translate("articles.labels.img16") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre14") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte74") %><strong><%= I18n.translate("articles.labels.strong41") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte75") %><strong><%= I18n.translate("articles.labels.strong42") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte76") %></p>
  <div class="centrage">
    <%= cl_image_tag("swnkctr6ukwsqfpdqvs1", class: "mylogo", alt: I18n.translate("articles.labels.img17") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre15") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte77") %><strong><%= I18n.translate("articles.labels.strong43") %></strong><%= I18n.translate("articles.labels.texte78") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte79") %><strong><%= I18n.translate("articles.labels.strong44") %></strong></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte80") %></p>
  <div class="centrage">
    <%= cl_image_tag("qvzpo9najamwrxivtart", class: "mylogo", alt: I18n.translate("articles.labels.img18") , id:"labelImage") %><br><br>
  </div>
  <h3><%= I18n.translate("articles.labels.soustitre16") %></h3>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte81") %></p>
  <p class="text-justify"><%= I18n.translate("articles.labels.texte82") %><strong><%= I18n.translate("articles.labels.strong45") %></strong><%= I18n.translate("articles.labels.texte83") %><strong><%= I18n.translate("articles.labels.strong46") %></strong></p>
  <%= link_to I18n.translate("articles.labels.lien1"), "http://www.mescoursespourlaplanete.com/labels.php?idFamProd=10&idType=" %>
</div>
