<h1 class="myTitle"><%= I18n.translate("articles.labels.title") %></h1>

<div class="container pb-5">
  <div class="centrage">
    <%= cl_image_tag("xggkwezo3plljwyrzvf2", alt: I18n.translate("articles.labels.img1") , id:"labelImage1") %><br><br>
  </div>
  <p><%= I18n.translate("articles.labels.texte1") %></p>
  <p><%= I18n.translate("articles.labels.texte2") %></p>
  <p><%= I18n.translate("articles.labels.texte3") %></p>
  <ul>
    <li><%= I18n.translate("articles.labels.liste1") %></li>
    <li><%= I18n.translate("articles.labels.liste2") %></li>
    <li><%= I18n.translate("articles.labels.liste3") %></li>
    <li><%= I18n.translate("articles.labels.liste4") %></li>
    <li><%= I18n.translate("articles.labels.liste5") %></li>
  </ul>
  <p><%= I18n.translate("articles.labels.texte4") %></p>
  <p><%= I18n.translate("articles.labels.texte5") %></p>
  <p><%= I18n.translate("articles.labels.texte6") %></p>
  <p><%= I18n.translate("articles.labels.texte7") %></p>
  <div class="centrage">
    <%= cl_image_tag("xogv37s9hnbuqsnpbcj8", class: "logo", alt: I18n.translate("articles.labels.img2") , id: "labelImage2") %><br><br>
  </div>
  <p><%= I18n.translate("articles.labels.texte8") %></p>
  <p><%= I18n.translate("articles.labels.texte9") %></p>
  <ul>
    <li><%= I18n.translate("articles.labels.liste21") %></li>
    <li><%= I18n.translate("articles.labels.liste22") %></li>
    <li><%= I18n.translate("articles.labels.liste23") %></li>
    <li><%= I18n.translate("articles.labels.liste24") %></li>
    <li><%= I18n.translate("articles.labels.liste25") %></li>
    <li><%= I18n.translate("articles.labels.liste26") %></li>
    <li><%= I18n.translate("articles.labels.liste27") %></li>
    <li><%= I18n.translate("articles.labels.liste28") %></li>
    <li><%= I18n.translate("articles.labels.liste29") %></li>
    <li><%= I18n.translate("articles.labels.liste30") %></li>
    <li><%= I18n.translate("articles.labels.liste31") %></li>
  </ul>
  <p><%= I18n.translate("articles.labels.texte10") %></p>
  <ul>
    <li><%= I18n.translate("articles.labels.liste40") %></li>
    <li><%= I18n.translate("articles.labels.liste41") %></li>
    <li><%= I18n.translate("articles.labels.liste42") %></li>
  </ul>
  <p><%= I18n.translate("articles.labels.texte11") %></p>
  <p><strong><%= I18n.translate("articles.labels.strong1") %></strong></p>
  <div class="centrage">
    <%= cl_image_tag("ohfkixveydu2s2mnur1e", class: "logo", alt: I18n.translate("articles.labels.img3") , id:"labelImage") %><br><br>
  </div>
  <h3>OEKO-TEX 100 </h3>
  <p>C’est un des labels que l’on croise le plus, d'origine allemande. Il s’agit du premier label visant à garantir <strong>des textiles sans produits toxiques pour le corps et pour l’environnement.</strong></p>
  <p>C’est un label fiable mais qui peut aussi certifier des matières synthétiques et donc polluantes en amont.</p>
  <p>On le retrouve sous différentes formes</p>
  <p>Le label ÖKO-TEX standard 100 permet de protéger le consommateur. En effet, les produits labellisés sont exempts de produits chimiques qui pourraient être toxiques pour le consommateur tels que les formaldéhydes ou les métaux lourds, par exemple. Ce label international est beaucoup utilisé notamment pour le linge de lit des jeunes enfants.</p>
  <p>Il existe également le label ÖKO-TEX standard 1000 qui certifie que la production  respecte l’environnement pendant toutes ses étapes.</p>
  <p>Enfin, ÖKO-TEX standard 100 plus atteste que les produits labellisés sont sans substances toxiques et issus d’une production respectueuse de l’environnement.</p>
  <p>Ces deux autres formes du label textile international ÖKO-TEX standard ne sont pas très répandues et sont assez rares à trouver sur les textiles.</p>
  <div class="centrage">
    <%= cl_image_tag("yinwsere8b7vhxtivyqk", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>MADE IN GREEN </h3>
  <p>Oeko-Tex a également créé une nouvelle certification Made in Green. Elle est l’assurance que <strong>les textiles sont sûrs pour la santé des consommateurs (sans produits chimiques nocifs) et sont également produits de manière durable et socialement responsable.<strong></p>
  <p>Grace à l’utilisation d’un numéro <strong>de test spécifique et un QR code, les textiles et les processus de fabrication peuvent être détaillés et suivis.</strong></p>
  <p>Made in Green remplace l’ancien système de certification, Oeko-Tex Standard 100 Plus et le label espagnol Made in Green by Aitex.</p>
  <div class="centrage">
    <%= cl_image_tag("xogv37s9hnbuqsnpbcj8", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>MAX HAVELAAR</h3>
  <p>C’est le label du commerce équitable. Il garantit que le <strong>produit répond aux critères internationaux du commerce équitable portant sur les conditions de production et la rémunération du producteur. Il garantit le respect des conventions de l’Organisation internationale du travail (OIT).</strong></p>
  <p>C’est un bon label, mais il est moins exigeant sur les <strong>critères environnementaux : les OGM sont interdits, mais pas les pesticides.</strong></p>
  <div class="centrage">
    <%= cl_image_tag("fvqyogralgmoo7cbxo45", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>BIO EQUITABLE</h3>
  <p>Ce label garantit une <strong>production biologique</strong> de la matière première, notamment du coton. Il applique également <strong>une charte équitable et humaine</strong> qui concilie l’écologie et le social. Dans une logique globale, le label implique tous les acteurs de la chaîne.</p>
  <div class="centrage">
    <%= cl_image_tag("fxpeapbt5jpkxaoawywf", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>ECOCERT</h3>
  <p>C’est un label qui agit <strong>sur la défense du consommateur, de l’environnement et des travailleurs</strong>. Il a donc plusieurs objectifs.</p>
  <p>Le premier est de protéger la planète et ses ressources en utilisant <strong>au minimum 70% de fibres naturelles ou issues de matériaux renouvelables ou recyclés.</strong> Mais également en définissant une <strong>politique environnementale</strong> imposant la réduction des consommations en eau et en énergie, en utilisant des colorants, agents textiles et procédés de fabrication <strong>respectueux de l’environnement et de la santé du consommateur</strong>.</p>
  <p>Il agit également en garantissant les principales <strong>conventions internationales</strong> en matière sociale, d’hygiène et sécurité au travail.</p>
  <p>Enfin, il a <strong>un rôle de protection et d’information du consommateur</strong> en fournissant une information claire sur la nature des fibres composant le produit et en <strong>interdisant l’emploi de substances dangereuses</strong> (ex : métaux lourds, amines cancérogènes, formaldéhydes, enzymes OGM, …).</p>
  <p>Mais ça reste bien inférièure aux exigences de GOTS</p>
  <div class="centrage">
    <%= cl_image_tag("iueuhcjc9gllzufeuafi", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>BIORE</h3>
  <p>C’est un label suisse qui possède des garanties écologiques, éthique et social. Il certifie la matière première du <strong>coton dont la production est issue de l’agriculture biologique.</strong></p>
  <p>Au niveau environnemental, il certifie l’<strong>absence de produits chimiques</strong> pour la teinture et <strong>un traitement des eaux usées avant leur rejet dans la nature.</strong></p>
  <p>Il a également un rôle social en garantissant de <strong>bonnes conditions de travail</strong> (pas de travail des enfants, sécurité du travail, salaires minimaux…).</p>
  <p>Il assure également <strong>la traçabilité des produits.</strong> On peut même savoir qui a fabriqué le vêtement en se rendant sur le site du label.</p>
  <div class="centrage">
    <%= cl_image_tag("inbv6kamere9p0yuvwtx", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>ECOLABEL EUROPÉEN</h3>
  <p>Ce label européen évalue <strong>l’impact environnemental des produits tout au long de leur durée de vie.</strong> Il repose sur le principe d’une <strong>approche globale</strong> qui "<strong>prend en considération le cycle de vie du produit à partir de l’extraction des matières premières, la fabrication, la distribution, et l’utilisation jusqu’à son recyclage ou son élimination après usage".</strong></p>
  <p>Ce label ne concerne que l’environnement et n’offre aucune garantie sociale.</p>
  <div class="centrage">
    <%= cl_image_tag("f4d4mwj0ficbj24i7jzi", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>ORIGINE FRANCE GARANTIE</h3>
  <p>C’est le label officiel pour <strong>garantir une fabrication française en totalité ou en partie.</strong> C’est une garantie contre le faux made in France et donc pour la <strong>préservation de l’emploi et du respect de normes sociales, environnementales et sanitaires.</strong></p>
  <p>Il certifie <strong>qu’au moins 50% du produit est bien fabriqué en France.</strong> L’autre moitié du produit peut être confectionné ailleurs…  On peut regretter que ce label ne s’applique pas à 100%.</p>
  <div class="centrage">
    <%= cl_image_tag("djue6tf3gwws0ls0ryyj", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>DEMETER</h3>
  <p>Le label Demeter est très exigeant. Il implique que la matière première du textile (les fibres de laine, de coton ou de lin) soient <strong>issues de fermes certifiées Demeter</strong>, selon un cahier des charges <strong>plus exigeant que celui de l’agriculture biologique certifiée par le logo AB.</strong></p>
  <p>Le coton doit être <strong>récolté à la main, la mécanisation étant possible seulement lorsque l’usage de produits chimiques est exclus.</strong> Les fibres animales doivent être tondues ou peignées.</p>
  <p>Le label Demeter textile peut être accordé à des produits contenant des <strong>fibres naturelles</strong> conventionnelles qui ne seraient pas disponibles sous label Demeter <strong>jusqu’à hauteur de 50 %.</strong></p>
  <div class="centrage">
    <%= cl_image_tag("fqg4z5cnjpdlkbazfztl", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>NATURTEXTIL</h3>
  <p>Ce label répond à un cahier des charges strictes et rigoureux.</p>
  <p>Les textiles labellisés ont <strong>au moins 95% de leurs fibres issues de l’agriculture biologique</strong> ou en conversion. A chaque étape du process de production, il doit être vérifié que les fibres biologiques et conventionnelles ne sont pas mélangées, et que les fibres biologiques ne sont contaminées d’aucune manière.</p>
  <p>Le processus de fabrication des vêtements est également très contrôlé. <strong>Les substances tels que le chlore, les métaux lourds, le nickel sont interdites, ainsi que tout produit susceptible de contenir des OGM.</strong></p>
  <p>Sur le plan environnemental, les partenaires sont soumis à une charte très stricte d’<strong>enregistrement permanent concernant l’utilisation des produits chimiques et de l’énergie, la consommation d’eau et le traitement des eaux usées. Les matériaux de stockage ne doivent pas contenir de PVC.</strong></p>
  <p>Enfin, le label <strong>contrôle également les conditions de travail</strong> : respect des droits des salariés, interdiction du travail forcé (tout comme le fait d’exiger des travailleurs qu’ils laissent leurs papiers d’identité à leur employeur), lieu de travail sécurisé et sain, travail des enfants est interdit, toute discrimination, de quelque nature qu’elle soit (absence de promotion, différence de rémunération,..) n’est autorisée,…</p>
  <div class="centrage">
    <%= cl_image_tag("t9pckrrnbc8y8ahydswu", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>NATURLEDER</h3>
  <p>C’est le premier label <strong>à certifier du cuir écologique.</strong></p>
  <p>Il permet de limiter fortement les impacts d’une industrie très polluante. Il garantit une <strong>conservation des peaux se fait par le froid et avec du sel, sans agents chimiques. Le tannage à base de chrome ou d’autres produits polluants est interdit. Seuls sont autorisés les produits végétaux et ceux avec de l’aluminium, du zirkonium ou du titane.</strong> Les colorants contenant des métaux lourds sont également proscrits.</p>
  <p>Ce label garantie également que les peaux doivent appartenir à des <strong>animaux élevés d’abord pour leur viande.</strong></p>
  <p>Enfin ce label possède les mêmes critères sociaux que le label textile précédemment décrit.</p>
  <div class="centrage">
    <%= cl_image_tag("l1z1gazj3v1d8l5t75yv", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>SOIL ASSOCIATION ORGANIC</h3>
  <p>C’est le plus important label bio au Royaume-Uni. ll certifie des produits biologiques et mène campagne pour une agriculture respectueuse de l’environnement ainsi que pour une production alimentaire plus sûre et plus saine.</p>
  <p>Concernant le textile, <strong>au moins 70 % de fibres doivent être biologiques, et ne pas contenir de substances nocives.</strong></p>
  <p>Ce label prend également en compte <strong>des critères sociaux et respecte les conventions de l’Organisation internationale du travail (OIT).</strong></p>
  <div class="centrage">
    <%= cl_image_tag("dhk8se33ckechlif8rtt", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>ENTREPRISE DU PATRIMOINE VIVANT (EPV)</h3>
  <p>Le label Entreprise du Patrimoine Vivant (EPV) est un label français. C’est une marque de reconnaissance de l’Etat distinguant <strong>des entreprises françaises aux savoir-faire artisanaux et industriels d’excellence.</strong> Il distingue notamment les savoir-faire traditionnels de qualité (comme la dentelle).  Les Entreprises du Patrimoine Vivant <strong>maintiennent leur activité de production en France.</strong></p>
  <div class="centrage">
    <%= cl_image_tag("wkzmerjqvkg1zqkwndfu", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>FAIR WEAR FOUNDATION (FWF)</h3>
  <p>Fair Wear Foundation est une fondation qui travaille au respect des conditions de travail décentes dans les entreprises. Son <strong>objectif est de contribuer à l’amélioration des conditions de travail dans l’industrie textile.</strong></p>
  <p>Pour cela elle a crée un Code des Conditions de Travail (Code of Labour Practices) que les marques s’engagent à respecter. Les grands principes de ce code sont les suivants : <strong>interdiction du travail forcé, pas de discrimination à l’emploi, liberté syndicale, conditions de travail décentes (hygiène, santé), travail des enfants est interdit,  temps de travail et salaires contrôlés, toute discrimination interdite.</strong></p>
  <p>La FWF s’engage ensuite à vérifier l’application de ces principes dans les usines de filature et de confection de textiles.</p>
  <div class="centrage">
    <%= cl_image_tag("xhnjht3tvizkozljuank", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>MADE IN RESPECT</h3>
  <p>L’objectif de ce label est de permettre aux petites entreprises, notamment industrielles, de disposer d’un outil de valorisation de leurs démarches éthiques de <strong>responsabilité sociale et environnementale</strong> (RSE), facile à mettre en place, peu coûteux et fiable.</p>
  <p>Les critères associent des aspects liés <strong>à la qualité et au savoir-faire, aux conditions sociales, à l’éco-conception et au respect de l’environnement ainsi qu’à l’éthique économique.</strong></p>
  <p>Ces principes vise ainsi à promouvoir des produits fabriqués dans une démarche véritablement durable.</p>
  <div class="centrage">
    <%= cl_image_tag("sgkfjs4rn1sgbejihwzs", class: "logo", alt: I18n.translate("articles.labels.img1") , id:"labelImage") %><br><br>
  </div>
  <h3>ORGANIC</h3>
  <p>C’est une organisation américaine visant à promouvoir l’utilisation du coton biologique et qui est soutenu par des marques telles que Nike, Walmart, H&M, Adidas, Patagonia, Marks&Spencer… Il s’agit de disposer d’une norme permettant d’accéder facilement à du coton bio.</p>
  <p>Cette certification garantit <strong>un taux de coton biologique dans le produit fini mais ne garantit pas les étapes de transformation du textile et notamment la teinture.</strong> Elle ne comporte pas d’éléments concernant les conditions sociales de production. <strong>C’est donc un label peu fiable, surtout quand on voit où ces marques produisent et les conditions de travail qu'elles infligent à leurs employés (cf sous-traitants).</strong></p>
  <%= link_to "Sources : Eco-sapiens, Mes Courses pour la Planète", "http://www.mescoursespourlaplanete.com/labels.php?idFamProd=10&idType=" %>
</div>
