<h1 class="myTitle"><%= I18n.translate("articles.lin.titre1") %><br><%= I18n.translate("articles.lin.titre2") %></h1>

<div class="container bottom-space">
  <div class="img-centre">
    <%= cl_image_tag("msdk0dk50mrh0cugiylc",
      width: 900, height: 500, crop: :fill, id: "home_who_img") %>
  </div>
  <p class="text-justify tabulation"><%= I18n.translate("articles.lin.texte1") %></p>
  <br><br>
  <p class="text-justify tabulation"><%= I18n.translate("articles.lin.texte2") %></p>
  <br><br>
  <h2><%= I18n.translate("articles.lin.soustitre1") %></h2>
  <ul class="my-list-style left-negatif">
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong1") %></strong><%= I18n.translate("articles.lin.liste1") %>
    </li>
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong2") %></strong><%= I18n.translate("articles.lin.liste2") %>
    </li>
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong3") %></strong><%= I18n.translate("articles.lin.liste3") %>
    </li>
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong4") %></strong><%= I18n.translate("articles.lin.liste4") %>
    </li>
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong5") %></strong><%= I18n.translate("articles.lin.liste5") %>
    </li>
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong6") %></strong><%= I18n.translate("articles.lin.liste6") %>
    </li>
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong7") %></strong><%= I18n.translate("articles.lin.liste7") %>
    </li>
  </ul>
  <br><br>
  <h2><%= I18n.translate("articles.lin.soustitre2") %></h2>
  <p class="text-justify tabulation"><%= I18n.translate("articles.lin.texte3") %></p>
  <ul class="my-list-style left-negatif">
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong21") %></strong><%= I18n.translate("articles.lin.liste21") %>
    </li>
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong22") %></strong><%= I18n.translate("articles.lin.liste22") %>
    </li>
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong23") %></strong><%= I18n.translate("articles.lin.liste23") %>
    </li>
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong24") %></strong><%= I18n.translate("articles.lin.liste24") %>
    </li>
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong25") %></strong><%= I18n.translate("articles.lin.liste25") %>
    </li>
    <li class="text-justify tabulation">
      <strong><%= I18n.translate("articles.lin.strong26") %></strong><%= I18n.translate("articles.lin.liste26") %>
    </li>
  </ul>
  <p class="text-justify"><%= I18n.translate("articles.lin.texte4") %></p>
</div>