<%= simple_form_for(@clothe) do |form| %>

  <% if @clothe.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@clothe.errors.count, "error") %> prohibited
        this clothe from being saved:
      </h2>
      <ul>
        <% @clothe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.input :name, label: I18n.translate("clothes.form.name") %><br>

  <%= form.input :category, label: I18n.translate("clothes.form.category") %><br>

  <%= form.input :function, label: I18n.translate("clothes.form.function"), collection: ["zero", "clothing", "accessory", "upcycling"] %><br>

  <%= form.input :description, label: I18n.translate("clothes.form.description") %><br>

  <%= form.input :wire_type, label: "type de fil", collection: ["laine", "soie", "tissu", "coton", "lin", "bambou"] %><br>

  <p>Pour l'option, 25 caractères maximum, merci.</p>
  <%= form.input :option, label: I18n.translate("clothes.form.option") %><br>

  <%= form.input :price_cents, label: I18n.translate("clothes.form.price_cents") %><br>

  <%= form.input :delivery, label: I18n.translate("clothes.form.delivery") %><br>

  <%= form.input :delivery_color, label: I18n.translate("clothes.form.delivery_color") %><br>

  <%= form.input :stock, label: I18n.translate("clothes.form.stock") %><br>

  <%= form.input :photos, as: :file, input_html: { multiple: true }, label: I18n.translate("clothes.form.photos") %><br>

  <%= form.submit I18n.translate("clothes.form.submit"), class: "btnlink" %> | <%= link_to I18n.translate("clothes.show.back"), clothes_path, class: "btnlink" %>

<% end %>

<hr>

<div class="container size-color-table">
  <table class="size-table " id="ajout">
    <thead>
      <tr>
        <th colspan="2">Tailles disponibles</th>
      </tr>
    </thead>
    <tbody>
      <% @scalings.each do |scale| %>
        <tr>
          <td class="cellule-show my-table-center"><%= @sizes.where(id: scale.size_id).first.name %></td>
          <td class="cellule-show my-table-center" id="trash"><%= link_to clothe_scaling_path(@clothe.id, scale.id), method: "delete", data: { confirm: "Es tu sûre?" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" class="my-center">
          <%= simple_form_for [@clothe, @scaling] do |f| %>
            <%= f.input :size_id, collection: @sizes.each { |size| [size.name, size.id] } %>
            <%= f.submit "Ajouter taille", class: "btnlink" %>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>

  <table class="color-table">
    <thead>
      <tr>
        <th colspan="2">Couleurs disponibles</th>
      </tr>
    </thead>
    <tbody>
      <% @dyeings.each do |dyeing| %>
        <tr>
          <td class="cellule-show my-table-center"><%= @colors.where(id: dyeing.color_id).first.name %></td>
          <td class="cellule-show my-table-center" id="trash"><%= link_to clothe_dyeing_path(@clothe.id, dyeing.id), method: "delete", data: { confirm: "Es tu sûre?" } do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2" class="my-center">
          <%= simple_form_for [@clothe, @dyeing] do |f| %>
            <%= f.input :color_id, collection: @colors.each { |color| [color.name, color.id] } %>
            <%= f.submit "Ajouter couleur", class: "btnlink" %>
          <% end %>
        </td>
      </tr>
    </tfoot>
  </table>

</div>
