<div class="header">

  <%= link_to image_tag("logo.png", class: "logo"), root_path %>

  <h1 class="my-title">
    <p class="oce">Oce</p>
    <p class="nat">Nat</p>
    <p class="creations">Creations</p>
  </h1>

  <div id="cubic" class="restrict">
    <%= image_tag("myburger.png", size: "46x46", alt: "Burger img", id: "burger")%>
    <%= image_tag("mycross.png", size: "46x46", alt: "Cross img", id: "cross")%>
  </div>
  
</div>

<div id="menu" class="menuup">
  <% if current_user %>
    <%= link_to I18n.translate("shared.header.signout"), destroy_user_session_path, method: "delete", data: {confirm: 'Etes vous sûr de vouloir vous déconnecter?'}, class: "btnlink" %>
    <%= link_to "Editer mon profil", edit_user_registration_path, class: "btnlink" %>
  <% else %>
    <%= link_to I18n.translate("shared.header.signin"), new_user_session_path, class: "btnlink" %>
    <br>
    <%= link_to I18n.translate("shared.header.forgot"),  new_user_password_path, class: "btnlink" %>
  <% end %>
  <br><hr>
  <div id="langue">
    <label id="labelLangue"><%= @langue %></label>
    <button id="francais"><%= link_to "Français", url_for(only_path: true, locale: "fr") %></button>
    <button id="english"><%= link_to "English", url_for(only_path: true, locale: "en") %></button>
    <button id="espanol"><%= link_to "Espanol", url_for(only_path: true, locale: "es") %></button>
  </div>
  <div class="my-cart">
    <% if @all_line_items %>
      <hr>
      <%= I18n.translate("shared.header.you_have", count: @total_count) %><br>
      <%= link_to I18n.translate("shared.header.see_cart"), cart_path(current_user.cart.id), class: "btnlink" %>
    <% end %>
  </div>
</div>
