<div class="header">

  <%= link_to image_tag("logo.jpg", class: "logo"), root_path %>

  <h1 class="my-title">
    <p class="oce">Oce</p>
    <p class="nat">Nat</p>
    <p class="creations">Creations</p>
  </h1>

  <div id="cubic" class="restrict">
    <p id="burger" class="wait">&equiv;</p>
    <p id="cross" class="action2">&times;</p>
  </div>
  
</div>

<div id="menu" class="menuup">
  <% if current_user %>
    <%= link_to "Se deconnecter", destroy_user_session_path, method: "delete", data: {confirm: 'Etes vous sûr de vouloir vous déconnecter?'}, class: "btnlink" %>
  <% else %>
    <%= link_to "Se connecter", new_user_session_path %>
  <% end %>
  <br><hr>
  <div id="langue">
    <label id="labelLangue"><%= @langue %></label>
    <button id="francais"><%= link_to "Français", url_for(only_path: true, locale: "fr") %></button>
    <button id="english"><%= link_to "English", url_for(only_path: true, locale: "en") %></button>
    <button id="espanol"><%= link_to "Espanol", url_for(only_path: true, locale: "es") %></button>
  </div>
  <div class="my-cart">
    <% if @all_line_items %>
      <%= "Vous avez " %><%= @total_count %>
      <%= " Articles dans votre panier." %><br>
      <%= link_to "Voir mon panier", cart_path(current_user.cart.id), class: "btnlink" %>
    <% end %>
  </div>
</div>
