<h1 class="indexclothetitle"><%= I18n.translate("clothes.index.title") %></h1>

<div class="index-clothes-page">
  <div class="search-bar-container">
    <%= simple_form_for :search, url: clothes_path, method: "GET", html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, label: "", input_html: {value: "", placeholder: I18n.translate("clothes.index.search") } %>
      <%= f.submit ' ', class: "btn", id: "my-search-button" %>
      <i class="fas fa-search" id="magnify-icon"></i>
    <% end %>
  </div>

  <p id="notice"><%= notice %></p>
  <p id="alert"><%= alert %></p>

  <main>
    <% @clothes.each do |clothe| %>
      <div id="card" class="container">
        <hr>
        <div class="row">
          <div class="col-5 overflow">
            <%= content_tag(:p, clothe.option, id: "option#{clothe.id}", class: "option" ) %>
            <%= cl_image_tag clothe.photos[0].key, class: "clothe_index_image", crop: :fill %>
          </div>
          <div class="col-7">
            <div class="description">
              <h2><%= clothe.name %></h2>

              <p>
                <p><%= I18n.translate("clothes.index.price") %> <strong><%= humanized_money_with_symbol(clothe.price) %></strong></p>
              </p>

              <p>
                <p><%= I18n.translate("clothes.index.note") %> </p>
                <%= content_tag(:p,"", id: "displaystars#{clothe.id}", class: "displaystars" ) %>
                <p><%= I18n.translate("clothes.index.ononon") %> <strong><%= clothe.nbov %></strong> <%= I18n.translate("clothes.index.ratings") %></p>
              </p>

              <p>
                <p><%= I18n.translate("clothes.index.delivery") %> </p>
                <%= content_tag(:strong, id: "delivery#{clothe.id}", class: "delivery") do %>
                  <%= clothe.delivery %>
                <% end %>
              </p>

              <%= content_tag(:p, clothe.delivery_color, id: "indexColor#{clothe.id}", class: "indexColor" ) %>
              <%= content_tag(:p, clothe.scoring, id: "slide#{clothe.id}", class: "slide" ) %>

              <%= link_to I18n.translate("clothes.index.see"), clothe_path(clothe.id), class: "btnlink" %>
              <%= link_to I18n.translate("clothes.index.edit"), edit_clothe_path(clothe.id), class: "btnlink" %>
              <%= link_to I18n.translate("clothes.index.delete"), clothe_path(clothe), method: "delete", data: {confirm: 'Etes vous sûr?'}, class: "btnlink" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </main>

  <hr>

  <% if policy(Clothe).create? %>
    <%= link_to I18n.translate("clothes.index.newclothe"),   new_clothe_path, class: "btnlink" %>
  <% end %>
</div>
  
