<div id="showmain">
  <h1 id="showTitle"><%= @clothe.name %></h1>
  <div id="showContainerRow">
    <div id="showLeftPart">
      <%= content_tag(:p, @clothe.option, id: "option#{@clothe.id}", class: "option-show" ) %>
      <div class="my-viewer">
        <p id="right-button"><i class="fas fa-arrow-circle-left"></i></p>
          <% @clothe.photos.each_with_index do |photo, index| %>
            <%= cl_image_tag photo.key, id:"photo#{index}", class:"picture", width: 800, height:500, crop: :fill %>
          <% end %>
        <p id="left-button"><i class="fas fa-arrow-circle-right"></i></p>
      </div>
      <div class="my-little-picture">
        <% count = 0 %>
        <% @clothe.photos.each do |photo| %>
          <%= cl_image_tag photo.key, id: "miniature#{count}", class: "miniature", height: 60, width: 60, crop: :fill %>
          <% count += 1 %>
        <% end %>
      </div>
    </div>

    <div class="container">
      <%= I18n.translate("clothes.index.note") %>
      <%= content_tag(:p,"", id: "displaystars#{@clothe.id}", class: "displaystars" ) %>
      <%= I18n.translate("clothes.index.ononon") %> <strong><%= @clothe.nbov %></strong> <%= I18n.translate("clothes.index.ratings") %>
      <div id="showRightPart">
        <p>Prix: <%= humanized_money_with_symbol(@clothe.price) %></p>
        <%= I18n.translate("clothes.index.delivery") %>
        <%= content_tag(:strong, id: "delivery#{@clothe.id}", class: "delivery") do %>
          <%= @clothe.delivery %>
        <% end %>
        <%= content_tag(:p, @clothe.delivery_color, id: "indexColor#{@clothe.id}", class: "indexColor") %>
        <%= content_tag(:p, @clothe.scoring, id: "slide#{@clothe.id}", class: "slide") %>
      </div>

      <div class="option-choice">
        <% @clothe.colors.each do |color| %>
          <%= color.name %>
        <% end %>
        <% @clothe.sizes.each do |size| %>
          <%= size.name %>
        <% end %>
      </div>

      <%# ajout du formulaire de choix de taille et couleur qui creer line item %>
        <%= simple_form_for [ @clothe, @line_item ] do |f| %>
          <%= f.hidden_field :cart_id, value: @cart.id %>
          <%= f.hidden_field :clothe_id, value: @clothe.id %>
          <%= f.hidden_field :quantity, value: 1 %>
          <%= f.hidden_field :state, value: "pending" %>
          <%= f.input :color, collection: @clothe.colors.each { |color| [color.name, color.id] } %>
          <%= f.input :size, collection: @clothe.sizes.each { |size| [size.name, size.id] } %>
          <%= f.submit 'Mettre dans mon panier' %>
        <% end %>



      <div id="links">
        <%= link_to I18n.translate("clothes.show.edit"), edit_clothe_path(@clothe), class: "btnlink" %> |
        <%= link_to I18n.translate("clothes.show.back"), clothes_path, class: "btnlink" %> |
        <%= link_to I18n.translate("clothes.show.comments"), "#", id: "displayComments", class: "btnlink" %> |
        <%= link_to "put in my cart", add_to_cart_path(@clothe), class: "btnlink" %>
        <% if @current_clothe %>
          <%= link_to "remove from my cart",  remove_from_cart_path(@clothe), class: "btnlink" %>
        <% end %> | 
        <%= link_to 'Leave a comment', new_clothe_comment_path(@clothe), class: "btnlink" %>
      </div>
    </div>
  </div>
</div>
<hr><hr>

<div class="all-comments">
  <% @comments.each do |comment| %>
    <div class="container">
      <%= comment.title %><br>
      <%= comment.content %><br>
      <%= comment.note %><br>
      <%= comment.user_id %><br>
      <%= link_to "see", comment_path(comment), class: "btnlink" %>
      <%= link_to "Remove",
                    comment_path(comment),
                    method: :delete,
                    data: { confirm: "Are you sure?" },
                    class: "btnlink" %>
      <%= link_to "update", edit_comment_path(comment.id), class: "btnlink" %>
    </div>
    <hr>
  <% end %>
</div>
