<div id="showmain">
  <h1 id="showTitle"><%= @clothe.name %></h1>
  <div id="showContainerRow">
    <div id="showLeftPart">
      <%= content_tag(:p, @clothe.option, id: "option#{@clothe.id}", class: "option-show" ) %>
      <div class="my-viewer">
        <p id="right-button"><i class="fas fa-arrow-circle-left"></i></p>
          <% @clothe.photos.each_with_index do |photo, index| %>
            <%= cl_image_tag photo.key, id:"photo#{index}", class:"picture", height: 280, width: 280, crop: :fill %>
          <% end %>
        <p id="left-button"><i class="fas fa-arrow-circle-right"></i></p>
      </div>
      <div class="my-little-picture">
        <% count = 0 %>
        <% @clothe.photos.each do |photo| %>
          <%= cl_image_tag photo.key, id: "miniature#{count}", class: "miniature", height: 60, width: 60, crop: :fill %>
          <% count += 1 %>
        <% end %>
      </div>
    </div>

    <div class="container">
      <%= I18n.translate("clothes.index.note") %>
      <%= content_tag(:p,"", id: "displaystars#{@clothe.id}", class: "displaystars" ) %>
      <%= I18n.translate("clothes.index.ononon") %> <strong><%= @clothe.nbov %></strong> <%= I18n.translate("clothes.index.ratings") %>
      <div id="showRightPart">
        <p>Price: <strong><%= @clothe.price_cents/100 %>.00 Euros.</strong></p>
        <%= I18n.translate("clothes.index.delivery") %>
        <%= content_tag(:strong, id: "delivery#{@clothe.id}", class: "delivery") do %>
          <%= @clothe.delivery %>
        <% end %>
        <%= content_tag(:p, @clothe.delivery_color, id: "indexColor#{@clothe.id}", class: "indexColor") %>
        <%= content_tag(:p, @clothe.scoring, id: "slide#{@clothe.id}", class: "slide") %>
      </div>
      <div id="links">
        <%= link_to 'Edit', edit_clothe_path(@clothe), class: "btnlink" %> |
        <%= link_to 'Back', clothes_path, class: "btnlink" %> |
        <%= link_to "Comments", "#", id: "displayComments", class: "btnlink" %> |
        <%= link_to "Acheter", "#", class: "btnlink" %>
      </div>
    </div>
  </div>
</div>
