<div id="showmain">
  <h1 class="showTitle"><%= @clothe.name %></h1>
  <div id="showContainerRow">
    <div id="showLeftPart">
      <div class="my-viewer">
        <p id="right-button"><i class="fas fa-arrow-circle-left"></i></p>
          <% @clothe.photos.each_with_index do |photo, index| %>
            <div class="overflow_option">
              <%= cl_image_tag photo.key, id:"photo#{index}", class:"picture", width: 800, height:500, crop: :fill %>
              <%= content_tag(:p, @clothe.option, id: "option#{@clothe.id}", class: "option-show" ) %>
            </div>
          <% end %>
        <p id="left-button"><i class="fas fa-arrow-circle-right"></i></p>
      </div>
      
      <div class="my-little-picture">
        <% count = 0 %>
        <% @clothe.photos.each do |photo| %>
          <%= cl_image_tag photo.key, id: "miniature#{count}", class: "miniature", height: 60, width: 60, crop: :fill %>
          <% count += 1 %>
        <% end %>
      </div>
    </div>

    <div class="container">
      <p><%= @clothe.description %></p>
      <div class="container">
        <%= I18n.translate("clothes.index.note") %>
        <%= content_tag(:p,"", id: "displaystars#{@clothe.id}", class: "displaystars" ) %>
        <p><%= I18n.translate("clothes.index.ononon", count: @clothe.nbov) %></p>
      </div>
      <div id="showRightPart">
        <p>Prix: <%= humanized_money_with_symbol(@clothe.price) %></p>
        <%= I18n.translate("clothes.index.delivery") %>
        <%= content_tag(:strong, id: "delivery#{@clothe.id}", class: "delivery") do %>
          <%= @clothe.delivery %>
        <% end %>
        <%= content_tag(:p, @clothe.delivery_color, id: "indexColor#{@clothe.id}", class: "indexColor") %>
        <%= content_tag(:p, @clothe.scoring, id: "slide#{@clothe.id}", class: "slide") %>
      </div>

      <%# ajout du formulaire de choix de taille et couleur qui creer line item %>

        <%= simple_form_for [ @clothe, @line_item ] do |f| %>
          <% if current_user %>
            <% if current_user.cart %>
              <%= f.hidden_field :cart_id, value: current_user.cart.id %>
              <%= f.hidden_field :clothe_id, value: @clothe.id %>
              <%= f.hidden_field :quantity, value: 1 %>
              <%= f.hidden_field :state, value: "pending" %>
            <% end %>
          <% end %>
          <% if @clothe.function == "clothing" %>
            <div class="option-choice">
              <%= f.input :color, label: I18n.translate("clothes.show.color"), collection: @clothe.colors.each { |color| [color.name, color.id] } %>
              <%= f.input :size, label: I18n.translate("clothes.show.size"), collection: @clothe.sizes.each { |size| [size.name, size.id] } %>
            </div>
          <% end %>
          <div class="text-center">
            <%= f.submit I18n.translate("clothes.show.basket"), class: "btnlink" %>
          </div>
        <% end %><br>




      <div id="links">
        <% if policy(Clothe).edit? %>
          <%= link_to I18n.translate("clothes.show.edit"), edit_clothe_path(@clothe), class: "btnlink" %>
        <% end %>
        <%= link_to I18n.translate("clothes.show.back"), clothes_by_type_path(@clothe.function), class: "btnlink" %>
        <%= content_tag(:button, I18n.translate("clothes.show.comments"), id: "displayComment", class: "btnlink") %>
        <% if policy(Comment).new? %>
          <%= link_to I18n.translate("clothes.show.comment"), new_clothe_comment_path(@clothe), class: "btnlink" %>
        <% end %>
        <%= content_tag(:button, I18n.translate("clothes.show.size"), id: "displaySize", class: "btnlink") %>

      </div>
    </div>
  </div>
</div>
<hr>

<div class="container hidden-options" id="set-size">
  <h2><%= I18n.translate("clothes.size.title") %></h2>
  <p><%= I18n.translate("clothes.size.texte") %></p>
  <div class="container centrage-size">
    <img src="https://res.cloudinary.com/do3nu0tns/image/upload/v1597264819/avk3am6sd9mflqzvb0vb.png" alt=<%= I18n.translate("clothes.size.alt") %> class="mannequin">
    <div class="container my-legende">
      <p><strong><%= I18n.translate("clothes.size.strong1") %></strong><%= I18n.translate("clothes.size.texte1") %></p>
      <p><strong><%= I18n.translate("clothes.size.strong2") %></strong><%= I18n.translate("clothes.size.texte2") %></p>
      <p><strong><%= I18n.translate("clothes.size.strong3") %></strong><%= I18n.translate("clothes.size.texte3") %></p>
      <p><strong><%= I18n.translate("clothes.size.strong4") %></strong><%= I18n.translate("clothes.size.texte4") %></p>
      <p><strong><%= I18n.translate("clothes.size.strong5") %></strong><%= I18n.translate("clothes.size.texte5") %></p>
      <p><strong><%= I18n.translate("clothes.size.strong6") %></strong><%= I18n.translate("clothes.size.texte6") %></p>
    </div>
  </div>
  
  <p class="title-size"><%= I18n.translate("clothes.size.mensuration") %></p>
  <div id="size-tableau">
      <table id="mesures">
        <tbody>
          <tr class="row-size">
            <td colspan="2"><%= I18n.translate("clothes.size.stature") %></td>
            <% (160..185).to_a.each do |stature| %>
              <td class="cellule-size"><%= stature %></td>
            <% end %>
          </tr>
          <tr class="row-size">
            <td colspan="2"><%= I18n.translate("clothes.size.poitrine") %></td>
            <% (74..124).to_a.each do |poitrine| %>
              <% if poitrine.even? %>
                <td class="cellule-size"><%= poitrine %></td>
              <% end %>
            <% end %>
          </tr>
          <tr class="row-size">
            <td colspan="2"><%= I18n.translate("clothes.size.taille") %></td>
            <% (58..108).to_a.each do |taille| %>
              <% if taille.even? %>
                <td class="cellule-size"><%= taille %></td>
              <% end %>
            <% end %>
          </tr>
          <tr class="row-size">
            <td colspan="2"><%= I18n.translate("clothes.size.hanche") %></td>
            <% (80..130).to_a.each do |hanches| %>
              <% if hanches.even? %>
                <td class="cellule-size"><%= hanches %></td>
              <% end %>
            <% end %>
          </tr>
          <tr class="row-size">
            <td colspan="2"><%= I18n.translate("clothes.size.bras") %></td>
            <% (57..65).to_a.each do |bras| %>
              <td class="cellule-size"><%= bras %></td>
            <% end %>
            <% 17.times do %>
              <td class="cellule-size"></td>
            <% end %>
          </tr>
          <tr class="row-size">
            <td colspan="2"><%= I18n.translate("clothes.size.epaule") %></td>
            <% (110..155).to_a.each do |epaule| %>
              <% if epaule%5 == 0 %>
                <td class="cellule-size"><%= epaule/10 %></td>
              <% end %>
            <% end %>
            <% 16.times do %>
              <td class="cellule-size"></td>
            <% end %>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="28"><%= I18n.translate("clothes.size.legende") %></td>
          </tr>
        </tfoot>
    </table>
  </div>
</div>

<hr>

<div class="container">
  <div id="all-comments" class="hidden-options">
    <% @comments.each do |comment| %>
      <div class="each-comment">
        <% if comment.user.photo.present?%>
          <div class="my-avatar" style="background-image: url('<%= cl_image_path comment.user.photo.key, height: 50, width: 50, crop: :thumb, gravity: :face %>')"></div>
        <% end %>
        <div>
          <% if comment.title.length > 32 %>
            <p class="comment-title"><%= comment.title[0..32] %>...</p>
          <% else %>
            <p class="comment-title"><%= comment.title %></p><br>
          <% end %>
        </div>
        <div>
          <% if comment.content.length > 100 %>
            <p><%= comment.content[0..100] %>...</p>
          <% else %>
            <%= comment.content %><br>
          <% end %>
          <p class="author"><%= comment.user.username %></p><br>
        </div>
        <div class="comment-links">
          <% if policy(Comment).show? %>
            <%= link_to I18n.translate("comment.links.see"), comment_path(comment), class: "btnlink" %>
          <% end %>
          <% if policy(comment).destroy? %>      
            <%= link_to I18n.translate("comment.links.remove"),
                        comment_path(comment),
                        method: :delete,
                        data: { confirm: "Are you sure?" },
                        class: "btnlink" %>
          <% end %>
          <% if policy(comment).edit? %>  
            <%= link_to I18n.translate("comment.links.update"), edit_clothe_comment_path(@clothe, comment), class: "btnlink" %>
          <% end %>
        </div>
      </div>
      <hr>
    <% end %>
  </div>
</div>
<hr>
