<div class="my-container" id="home-body">
  <div class="my-card" id="home">
    <h2 class="scale-title"><%= I18n.translate("welcome.index.home") %></h2>
    <ul class="list">
      <li><%= link_to I18n.translate("welcome.index.who"), homes_who_path %></li>
      <li><%= link_to I18n.translate("welcome.index.condition"), homes_condition_path %></li>
      <li><%= link_to I18n.translate("welcome.index.contact"), homes_contact_path %></li>
      <li><%= link_to I18n.translate("welcome.index.connexion"), new_user_session_path %></li>
    </ul>
  </div>
  <div class="my-card" id="shop">
    <h2 class="scale-title"><%= I18n.translate("welcome.index.shop") %></h2>
    <ul class="list">
      <li><%= link_to I18n.translate("welcome.index.product"), clothes_by_type_path("zero") %></li>
      <li><%= link_to I18n.translate("welcome.index.upcycling"), clothes_by_type_path("upcycling") %></li>
      <li><%= link_to I18n.translate("welcome.index.collection"), clothes_by_type_path("clothing") %></li>
      <li><%= link_to I18n.translate("welcome.index.accessories"), clothes_by_type_path("accessory") %></li>
    </ul>
  </div>
  <div class="my-card" id="articles">
    <h2 class="scale-title"><%= I18n.translate("welcome.index.articles") %></h2>
    <ul class="list">
      <li><%= link_to I18n.translate("welcome.index.plastic"), "/articles/plastic" %></li>
      <li><%= link_to I18n.translate("welcome.index.interest"), "/articles/interest" %></li>
      <li><%= link_to I18n.translate("welcome.index.lin"), "/articles/lin" %></li>
      <li><%= link_to I18n.translate("welcome.index.innovation"), "/articles/innovation" %></li>
      <li><%= link_to I18n.translate("welcome.index.label"), articles_label_path %></li>
    </ul>
  </div>
  <div class="my-card" id="partners">
    <h2 class="scale-title"><%= I18n.translate("welcome.index.partners") %></h2>
    <ul class="list">
      <li><%= link_to I18n.translate("welcome.index.link"), "/partners/link" %></li>
      <li><%= link_to I18n.translate("welcome.index.spitzberg"), "/partners/spitzberg" %></li>
    </ul>
  </div>
</div>
