<h1>Index des carts</h1>

<p><%= @carts.count %> Commandes: </p>

<hr>

<% @carts.each do |cart| %>
  <%# renseignement du panier %>
  <%= cart.id %>
  <br>
  <%# renseignement de la commande(order) %>
  <% @orders.where(cart_id: cart.id).each do |order| %>
    <%= order.state %>
    <p><%= order.amount_cents/100 %>.00 Euros.</P>
  <% end %>
  <br>
  <%# renseignements des articles (line item) %>
  <% @all_line_items.where(cart_id: cart.id).each do |line| %>
    <%# renseignement de chaque vetement (clothe) %>
    <% @clothes.where(id: line.clothe_id).each do |clothe| %>
      <%= clothe.name %>
      <%= line.quantity %>
      <br>
    <% end %>
  <% end %>
<hr><hr>
<% end %>
  