<h1>Index des carts</h1>

<p><%= @carts.count %> Commandes: </p>

<hr>

<% @carts.each do |cart| %>
  <%# renseignement du panier %>
  <%= cart.id %>
  <br>
  <%# contenu du panier %>
  <% cart.line_items.each do |line| %>
    <%= line.id %>
    <%= line.clothe.name %>
    <%= line.quantity %>
    <%= (Size.find(line.size)).name %>
    <%= (Color.find(line.color)).name %>
    <%= line.state %>
    <br><hr><br>
  <% end %>
<hr><hr>
<% end %>
  