<h1 id="cart-show-title">Mon panier</h1>
<table>
    <thead>
        <tr>
            <th>Article</th>
            <th>Quantitée</th>
            <th>Prix unitaire</th>
            <th>Prix total</th>
        </tr>
    </thead>
    <tbody>
      <% @all_line_items.each do |line_item| %>
        <tr>
          <td><%= line_item.clothe.name %></td>
          <td><%= line_item.quantity %></td>
          <td><%= "#{line_item.clothe.price_cents/100}.00 Euros." %></td>
          <td class="row-total"><%= "#{line_item.quantity * (line_item.clothe.price_cents/100)}.00 Euros." %></td>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
    <tr>
      <td colspan="3">Total</td>
      <td id="main-total"><%= @total_price / 100 %>.00 Euros.</td>
    </tr>
  </tfoot>
</table>

<p>Amount: <%= humanized_money_with_symbol(current_user.cart.price_cents) %></p>

<%= link_to "Retourner en boutique", clothes_path, class: "btnlink" %> | 
<%= form_tag orders_path do %>
  <%= hidden_field_tag 'cart_id', current_user.cart.id %>
  <%= submit_tag 'purchase', class: 'btnlink' %>
<% end %>

