<h1 id="cart-show-title">Mon panier</h1>
<div class="container total-space">
  <table>
      <thead>
          <tr>
              <th>Article</th>
              <th>Qte</th>
              <th>Prix unitaire</th>
              <th>Prix total</th>
              <th>Sup</th>
          </tr>
      </thead>
      <tbody>
        <% @all_line_items.each do |line_item| %>
          <tr>
            <td class="cellule-show"><%= line_item.clothe.name %></td>
            <td class="cellule-show"><%= line_item.quantity %></td>
            <td class="cellule-show"><%= "#{line_item.clothe.price_cents/100}.00 Euros." %></td>
            <td class="row-total cellule-show"><%= "#{line_item.quantity * (line_item.clothe.price_cents/100)}.00 Euros." %></td>
            <td>Sup</td>
          </tr>
        <% end %>
      </tbody>
      <tfoot>
      <tr>
        <td colspan="3">Total</td>
        <td id="main-total"><%= @total_price %>.00 Euros.</td>
      </tr>
    </tfoot>
  </table>
</div>
<p>Amount: <%= humanized_money_with_symbol(current_user.cart.price_cents) %>.00</p>

<%= link_to "Passer commande", new_delivery_adress_path, class: "btnlink" %> 

<%= link_to "Retourner en boutique", clothes_path, class: "btnlink" %>
