<h1 class="home_title"><%= I18n.translate("home.condition.title") %></h1>
<div class="bottom-space container">
  <div class="container">
    <%= cl_image_tag("bfr68apqqttfr6pnfp0b",
      width: 900, height: 500, crop: :fill, class: "home_who_img") %>
  </div>
    <p class="text-justify"><%= I18n.translate("home.condition.texte1") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte2") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte3") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte4") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte5") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte6") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte7") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte8") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte9") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte10") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte11") %> </p>
    <h2><%= I18n.translate("home.condition.soustitre1") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte12") %> </p>
    <h2><%= I18n.translate("home.condition.soustitre2") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte13") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte14") %> </p>
    <%= link_to I18n.translate("home.condition.texte15"), "http://ocenatcreations.herokuapp.com/homes/condition" %> <%# a reverifier aprés install du site %>
    <p class="text-justify"><%= I18n.translate("home.condition.texte16") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte17") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte18") %></p>
    <h2><%= I18n.translate("home.condition.soustitre3") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte19") %></p>
    <h2><%= I18n.translate("home.condition.soustitre4") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte20") %></p>
    <p class="text-justify"><strong><%= I18n.translate("home.condition.strong1") %></strong></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte21") %></p>
    <h2><%= I18n.translate("home.condition.soustitre5") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte22") %></p>
    <h2><%= I18n.translate("home.condition.soustitre6") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte23") %></p>
    <h2><%= I18n.translate("home.condition.soustitre7") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte24") %></p>
    <h2><%= I18n.translate("home.condition.soustitre8") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte25") %></p>
    <h2><%= I18n.translate("home.condition.soustitre9") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte26") %></p>
    <h2><%= I18n.translate("home.condition.soustitre10") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte27") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte27bis") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.texte27ter") %></p>
    <h2><%= I18n.translate("home.condition.soustitre11") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte28") %></p>
    <h2><%= I18n.translate("home.condition.soustitre12") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte29") %></p>
    <h2><%= I18n.translate("home.condition.soustitre13") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte30") %></p>
    <h2><%= I18n.translate("home.condition.soustitre14") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte31") %></p>
    <h2><%= I18n.translate("home.condition.soustitre15") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte32") %></p>
    <h2><%= I18n.translate("home.condition.soustitre16") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte33") %></p>
    <h2><%= I18n.translate("home.condition.soustitre17") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte34") %></p>
    <h2><%= I18n.translate("home.condition.soustitre18") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte35") %></p>
    <h2><%= I18n.translate("home.condition.soustitre19") %></h2>
    <p class="text-justify"><%= I18n.translate("home.condition.texte36") %></p>
    <p class="text-justify"><%= I18n.translate("home.condition.lien1") %></p>
    <%= link_to "https://www.donneespersonnelles.fr", "https://www.donneespersonnelles.fr" %>
</div>
