<h1 class="home_title"><%= I18n.translate("home.who.titre") %></h1>
<div class="container" id="who-page">
  <div class="img-centre">
    <%= cl_image_tag("twenozss89lby1vcxxxw",
        width: 900, height: 500, crop: :fill, class: "home_who_img") %>
  </div>
  <p class="text-justify"><%= I18n.translate("home.who.intro") %></p>
  <p><%= I18n.translate("home.who.texte1") %></p>
  <p><%= I18n.translate("home.who.texte2") %></p>
  <ul class="my-list-style">
    <li><%= I18n.translate("home.who.liste1") %></li>
    <li><%= I18n.translate("home.who.liste2") %></li>
    <li><%= I18n.translate("home.who.liste3") %></li>
  </ul>
  <p><%= I18n.translate("home.who.texte3") %></p>
  <p><%= I18n.translate("home.who.texte4") %></p>
  <p><%= I18n.translate("home.who.texte5") %></p>
  <p><%= I18n.translate("home.who.texte6") %></p>
  <p class="signature">OcéNat</p>
  

</div>
