<link href="https://fonts.googleapis.com/css2?family=Akronim&family=Courgette&display=swap" rel="stylesheet">
<style>
.logo1{
  width: 90px;
  height: 90px;
  border: solid 5px #2A80B9;
}
.logo2{
  width: 557px;
  height: 90px;
}
.title{
  font-family: 'Akronim', cursive;
  color: #2A80B9;
}
.text{
  font-family: 'Courgette', cursive;
}
.warning{
  color: red;
}
.big{
  font-size: 20px;
}
</style>
<div class="header">
  <%= image_tag("https://res.cloudinary.com/do3nu0tns/image/upload/v1597409554/tkjxyindcipxtt3hpfrw.png", class: "logo1") %>
  <hr>
  <%= image_tag("https://res.cloudinary.com/do3nu0tns/image/upload/v1597409542/phbwgxql8yjnhsgk21qi.png", class: "logo2") %>
  <hr>
</div>
<h2 class="title big"><%= I18n.translate('devise.mailer.confirmation_instructions.welcome') %></h2>
<p class="text"><%= I18n.translate('devise.mailer.confirmation_instructions.date') %><%= @user.created_at.day %> <%= {fr:["Janvier", "Février", "Mars", "Avril", "Mai", "Juin", "Juillet", "Aout", "Septembre", "Octobre", "Novembre", "Décembre"], en:["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"], es:["Enero", "febrero", "marzo", "abril", "mayo", "junio", "julio", "agosto", "septiembre", "octubre", "noviembre", "diciembre"]}[I18n.locale][@user.created_at.month-1] %> <%= @user.created_at.year %></p>
<p class="text"><%= I18n.translate('devise.mailer.confirmation_instructions.hello') %><%= @user.username %>,</p>

<p class="text"><%= I18n.translate('devise.mailer.confirmation_instructions.texte1') %></p>
<p class="text"><%= I18n.translate('devise.mailer.confirmation_instructions.texte2') %></p>
<p class="text"><%= I18n.translate('devise.mailer.confirmation_instructions.texte3') %><%= link_to 'Facebook', "https://www.facebook.com/OceNat" %><%= I18n.translate('devise.mailer.confirmation_instructions.texte3bis') %></p>
<p class="text warning"><%= I18n.translate('devise.mailer.confirmation_instructions.texte4') %><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>
<p class="text"><%= I18n.translate('devise.mailer.confirmation_instructions.texte5') %></p>
<p class="text"><%= I18n.translate('devise.mailer.confirmation_instructions.texte6') %></p>
<p class="text"><%= I18n.translate('devise.mailer.confirmation_instructions.texte7') %></p>
<p class="text">OcéNat Créations</p>
