<p><%= I18n.translate("devise.mailer.confirmation_instructions.hello") %><%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= I18n.translate("devise.mailer.email_changed.texte1") %><%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p><%= I18n.translate("devise.mailer.email_changed.texte2") %><%= @resource.email %>.</p>
<% end %>
