<p><%= I18n.translate("devise.mailer.confirmation_instructions.hello") %><%= @resource.email %>!</p>

<p><%= I18n.translate("devise.mailer.reset_password_instructions.texte1") %></p>

<p><%= link_to I18n.translate("devise.mailer.reset_password_instructions.texte2"), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= I18n.translate("devise.mailer.reset_password_instructions.texte3") %></p>
<p><%= I18n.translate("devise.mailer.reset_password_instructions.texte4") %></p>
