<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" type="image/jpg" href="http://res.cloudinary.com/do3nu0tns/image/upload/v1594413833/gbh2v1yc7fdouhpjy03i.jpg">
    <link href="https://fonts.googleapis.com/css2?family=Akronim&family=Courgette&display=swap" rel="stylesheet">
    <meta charset="utf-8">
    <meta property="og:title" content="OceNatCréations">
    <meta property="og:url" content="http://www.ocenatcreations.com/" />
    <meta property="og:image" content="https://res.cloudinary.com/do3nu0tns/image/upload/v1597409554/tkjxyindcipxtt3hpfrw.png">
    <meta property="og:description" content="OcéNat Créations est une petite entreprise artisanale, qui se veut avant tout française et écoresponsable. Nous travaillons donc avec des fibres naturelles(animales ou végétales) et nous avons aussi développé une gamme de zéro-déchet.">
    <meta name="twitter:site" content="@OceNat" />
    <meta name="twitter:title" content="OceNatCréations" />
    <meta name="twitter:description" content="OcéNat Créations est une petite entreprise artisanale, qui se veut avant tout française et écoresponsable. Nous travaillons donc avec des fibres naturelles(animales ou végétales) et nous avons aussi développé une gamme de zéro-déchet." />
    <meta name="twitter:image" content="https://res.cloudinary.com/do3nu0tns/image/upload/v1597409554/tkjxyindcipxtt3hpfrw.png" />
    <title>OceNatCreations</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <%= render 'shared/header' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
  
</html>
